*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:sans-serif
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.container{
  width: 95%;
  margin: 0 auto;
}


.slot{
  position: relative;
  float: left;
  margin: 1%;
  background-size: contain; 
  background-repeat: no-repeat;
  width: 31%; 
}

.foto{
  width: 100%;
  height: auto;
}
.foto-2{
  width: 100%;
  display: none;
}

.foto, .foto-2 {
  width: 100%;
}

.slot-image .sconto{
  position: absolute;
  display: inline-block;
  bottom: 55px;
  left: 0;
  margin-bottom: 5%;
  color: white;
  background-color: red;
  padding: 5px;
}

.slot-image .sostenibilita{
  position: absolute;
  bottom: 55px;
  left: 17%;
  margin-bottom: 5%;
  color: white;
  background-color: green;
  padding: 5px;
}

.slot-image .preferiti{
  position: absolute;
  top:0;
  right: 0;
  margin-top: 5%;
  background-color: white;
  font-size: 50px;
  width: 50px;
  text-align: center;
}

.slot{
  margin-left: 1%;
}

h4{
  color: grey;
  font-size: 12px;
}

h3{
  font-size: 20px;
}

h5{
  color: red;
}

.prezzo-originale{
  text-decoration: line-through;
  color: black;
}

.slot:hover{
  cursor: pointer;
}

.slot:hover .foto{
  display: none;
}

.slot:hover .foto-2{
  display: block;
}